<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FacesPrinterx86.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <applicationSettings>
    <FacesPrinterx86.Properties.Settings>
      <setting name="ServicesAddress" serializeAs="String">
        <value>net.pipe://localhost/Printerx86</value>
      </setting>
      <setting name="LandscapeTemplatePath" serializeAs="String">
        <value>LandscapeCSWedding.lbx</value>
      </setting>
      <setting name="Url" serializeAs="String">
        <value>http://www.koxigru.net/cswedding/index.html?photos=</value>
      </setting>
      <setting name="PortraitTemplatePath" serializeAs="String">
        <value>PortraitCSWedding.lbx</value>
      </setting>
      <setting name="Landscape4Template" serializeAs="String">
        <value>Landscape4CSWedding.lbx</value>
      </setting>
    </FacesPrinterx86.Properties.Settings>
  </applicationSettings>
</configuration>
